<h2>{{error}}</h2>
<form action="/login" method="POST" id="login-form">
    <label id="labelUsername">
        Provide a username
        <input type="text" name="username" id="username" />
    </label>
    <label id="labelPassword">
        Provide a password
        <input type="text" name="password" id="password" />
    </label>
    <button id="submit" type="submit">Submit</button>
</form>